*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    font-size:25px;
}
.globe{
    width: 40px;
    height: 40px;

    
}

.box{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    background-color: bisque;
    max-width: 200px;
}

.box-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
.container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap:20px;
    

}
@media (min-width:637px) {
   h3{
    font-size:30px;
   } 
}

